Vagrant.configure("2") do |config|

    config.vm.box = "{{basebox}}"
    config.vm.synced_folder ".", "/vagrant", disabled: true

    #config.ssh.forward_x11 = true

    #config.vm.provision "ansible_local" do |ansible|
    #    ansible.playbook = "vagrant.playbook.yml"
    #    ansible.install_mode = "apt"
    #end

    config.vm.provision "shell",
      inline: "mkdir -p /root/.ssh && chmod 0700 /root/.ssh && touch /root/.ssh/authorized_keys"
    config.vm.provision "shell",
      inline: "grep '{{ssh_pub_key}}' /root/.ssh/authorized_keys || "\
              "echo '{{ssh_pub_key}}' >> /root/.ssh/authorized_keys"
    config.vm.provision "shell",
      inline: "grep fdroid /etc/passwd || adduser fdroid"
    config.vm.provision "shell",
      inline: "mkdir -p /home/fdroid/.ssh && chmod 0700 /home/fdroid/.ssh && touch /home/fdroid/.ssh/authorized_keys"
    config.vm.provision "shell",
      inline: "grep '{{ssh_pub_key}}' /home/fdroid/.ssh/authorized_keys || "\
              "echo '{{ssh_pub_key}}' >> /home/fdroid/.ssh/authorized_keys"
    config.vm.provision "shell",
      inline: "chown -R fdroid:fdroid /home/fdroid"
    config.vm.provision "shell",
      inline: "apt update -y && apt install -y dbus ansible && hostnamectl set-hostname '{{hostname}}'"
    config.vm.provision "shell",
      inline: 'echo "%fdroid ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/fdroid_hack'
    config.vm.provision "shell",
      inline: 'echo "#! /bin/bash" > /root/bootstrap-buildserver && '\
              'echo "" >> /root/bootstrap-buildserver && '\
              'echo "cd /root" >> /root/bootstrap-buildserver && '\
              'echo "git clone https://gitlab.com/fdroid/fdroid-bootstrap-buildserver" >> /root/bootstrap-buildserver && '\
              'echo "cd /root/fdroid-bootstrap-buildserver" >> /root/bootstrap-buildserver && '\
              'echo "ansible-galaxy install -f -r requirements.yml -p .galaxy" >> /root/bootstrap-buildserver && '\
              'echo "ansible-playbook -i \'localhost,\' -c local provision.yml" >> /root/bootstrap-buildserver && '\
              'chmod +x /root/bootstrap-buildserver'

    config.vm.network(:private_network, {:ip=>"{{guest_address}}"})

    config.vm.provider :libvirt do |libvirt|
        libvirt.driver = "kvm"
        libvirt.host = "localhost"
        libvirt.uri = "qemu:///system"
        libvirt.cpus = {{vcpus}}
        libvirt.memory = {{vram}}
        libvirt.management_network_address = "{{net_address}}"
        libvirt.management_network_name = "{{hostname}}_network"
    end

end
